.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 7%;
  padding-right: 7%;
}

.banner div {
  max-width: 450px;
  transition: all 3s;
}

.banner div img {
  mask-image: linear-gradient(black 70%,transparent);
  transition: all 3s;
}

.banner div img:hover {
  mask-image: linear-gradient(black 55%,transparent);
}

.banner h1 {
  font-size: 50px;
}
